@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700&family=Ubuntu:wght@700&display=swap');

body{
    font-family: 'Josefin Sans', sans-serif

}
.ui.segment {
    font-size: 1.2rem;
}
.ui.segment.question{
    border-radius: 5px;
    margin-top: 0px;
}
.thirteen.wide.two.column.grid.question {
    padding-right: 0px;
}
.ui.segment.code {
    padding: 0px;
    margin: 0px;
}
.five.wide.column.solutions {
    margin-top: 0.5em;
    padding-left: 0px;
    min-height: 450px;
}
.ui.pointing.menu.algo {
    margin: 0;
}
.ui.text.menu.algo {
    margin: 0;
}
.questionDisplay {
    margin-bottom: 1em;
}
.codeDisplay pre {
    min-height: 450px;
}


/* // after body element, add the code below. It means the ID #fonts in body element will apply this specific style. */

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Ubuntu', sans-serif; */

