.image.cornerMenu{
	background-image : url(../assets/image.png);
	background-repeat : no-repeat;
}

.contactMe{
	font-family: 'Josefin Sans', sans-serif;
	font-weight : bold;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}

.contactMe{
	background : #FFB703;
	text-align: center;
	border-radius : 3px;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
}